@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);
  --font-size-paragraph: 16px;
  --font-family: "Outfit", sans-serif;
}

body,
html {
  font-family: var(--font-family);
  background-color: var(--slate-300);
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-size: var(--font-size-paragraph);
  font-weight: 400;
}

h1 {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}

.container {
  width: 300px; /* Ширина div */
  overflow: hidden; /* Скрывает части изображения, выходящие за пределы div */
  position: relative;
  padding: 16px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Распределяет пространство */
  border-radius: 20px;
}

.container img {
  width: 100%;
  height: auto; /* Сохраняет пропорции изображения */
  object-fit: contain; /* Изображение будет умещаться в контейнере */
  border-radius: 10px;
}

p {
  font-size: var(--font-size-paragraph);
  font-weight: 400;
  text-align: center;
  color: var(--slate-500);
  line-height: 1.5;
  margin: 0;
  padding: 0 10px;
}
