@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);
  --font-size-paragraph: 1rem;
  --font-family: "Outfit", sans-serif;
}

body,
html {
  font-family: var(--font-family);
  background-color: var(--slate-300);
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-size: var(--font-size-paragraph);
  font-weight: 400;
  text-align: center;
  color: var(--slate-500);
  line-height: 1.5;
  margin: 0;
  padding: 0 15px;
}

h1 {
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
}

.container {
  width: 80%;
  max-width: 350px;
  overflow: hidden;
  position: relative;
  padding: 16px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 20px;
}

.container img {
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
}
